.calendar-icon {
  width: 1.5rem;
}
.calendar-wrapper {
  border: 0.0625rem solid var(--color-grey);
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin-right: 1rem;
  padding: 0.3rem 0.4375rem;
  width: 15.75rem;
}
.container {
  display: flex;
}
.container-popover {
  margin-top: 0.5rem;
  margin-left: 7.5rem;
}
.reset-button {
  margin-top: 1.625rem !important;
}
.select-project-filter {
  margin-top: 0;
}
.selectable .DayPicker-Caption {
  border-bottom: 0.0625rem solid #43aba4;
  font-size: 0.875rem;
  padding-bottom: 0.9375rem;
  text-align: center;
}
.selectable .DayPicker-Day--end:focus {
  outline: none;
}
.selectable .DayPicker-Day--end {
  background-color: #289f97 !important;
  border-radius: 0.3125rem;
}
.selectable .DayPicker-Day--end:hover {
  border-radius: 0px;
}
.selectable .DayPicker-Day--selected:not(.DayPicker-Day--end):not(.DayPicker-Day--outside):not(.DayPicker-Day--start) {
  border-radius: 0px;
  background-color: #e4f7f6 !important;
  border-radius: 0 !important;
  color: black;
}
.selectable .DayPicker-Day--start:focus {
  outline: none;
}
.selectable .DayPicker-Day--start {
  background-color: #289f97 !important;
  border-bottom-left-radius: 0.3125rem !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0.3125rem !important;
  border-top-right-radius: 0 !important;
}
.selectable .DayPicker-Day--start:hover {
  border-bottom-left-radius: 0.3125rem !important;
  border-top-left-radius: 0.3125rem !important;
}
.selectable .DayPicker-Day:hover {
  border-radius: 0 !important
}
.selectable .DayPicker-Month {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin: 0;
  margin-top: 1rem;
  user-select: none
}
.selectable .DayPicker-Months {
  background-color: #FFFFFF;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem #000000;
  font-family: ubuntu;
}
.selectable .DayPicker-NavButton--next:focus {
  outline: none;
}
.selectable .DayPicker-NavButton--prev:focus {
  outline: none;
}
.selectable .DayPicker-NavButton--prev {
  margin-right: 0;
  right: 28rem;
}
.selectable .DayPicker-wrapper {
  padding: 0;
}
.title-description {
  margin: 0 0 0.5rem;
}
