.border {
  border-bottom: solid 0.0625rem #c8d0e0;
  margin: 0 1rem;
}
.container {
  background-color: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.0625rem 0 rgba(72, 122, 157, 0.42);
  max-height: 2.9375rem;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  width: 66.875rem;
}
.content {
  padding: 0 1rem 0.875rem;
}
.expand-container {
  background-color: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.0625rem 0 rgba(72, 122, 157, 0.42);
  margin-bottom: 1rem;
  max-height: 30rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  width: 66.875rem;
}
.header {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0.75rem 1rem 1.0625rem;
}
.header-title {
  width: 42.625rem;
}
.icon {
  width: 1.375rem;
}
