//color
$primaryColor: #289f97;
$errorColor: #f55151;
$onProcessColor: #229bd8;
$successColor: #74b816;
$warningColor: #fcc419;
$fontColor: #1e2025;
$borderColor: #707a89;
$disabledColor: #dee3ed;
$captionColor: #676767;
$drawerColor: #f5f7fa;
//font and typography
$fontFamily: 'Ubuntu',
sans-serif;
$regularFontSize: calc(16 * 100vw / 1366);
//margin
$standardMargin: 0.5rem;
$componentMargin: $standardMargin * 2;
$sectionMargin: $standardMargin * 3;
//component
$inputWidth: 20rem;
$inputWidthLong: 35rem;
$inputHeightSmall: 2rem;
$inputHeight: 3rem;
$inputHeightLarge: 9.25rem;
$inputRadius: 0.375rem;